<div class="container-page">
  <div class="student-card">
    <h1>Welcome, {{ student.name }} {{ student.lastName }}!</h1>
  </div>
  <div class="container">
    <mat-card class="data-card" *ngIf="student.paymentDates.length > 0">
      <mat-card-header>
        <mat-card-title>Payment Dates</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let date of student.paymentDates">
          <p class="card-content">
            Publicación: {{ date.publication }} - Vencimiento: {{ date.expiration }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="data-card" *ngIf="hasPendingPayments">
      <mat-card-header>
        <mat-card-title>Pending Payments</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-content">
          You have pending payments.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="data-card" *ngIf="nextPayment">
      <mat-card-header>
        <mat-card-title>Next Payment</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-content">
          Your next payment is {{ nextPayment.publication }}.
        </p>
      </mat-card-content>
    </mat-card>


    <mat-card class="data-card">
      <mat-card-header>
        <mat-card-title>Next Classes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let class of student.classes">
          <p class="card-content">
            {{ class.name }} - {{ class.schedule }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="container-calendar">
    <div class="container-card">
      <h2 class="subtitle-card">Schedules</h2>
      <div class="calendar-container">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar [(selected)]="selected" ></mat-calendar>
        </mat-card>
        <button mat-raised-button color="primary">Add event</button>
      </div>
    </div>
  </div>
</div>

