.container {
  text-align: left;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.header-container {
  background-color: #b3e5fc;
  padding: 10px;
  margin-bottom: 20px;
}

.header-title {
  margin: 0;
}

.calendar-section {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

.table-container {
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.mat-table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
  text-align: center;
}

.mat-row:nth-child(odd) {
  background-color: #ffffff;
}
