.container{
  margin-left: 2rem;
}

h2{
  color: #9E9E9E;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
.data-card{
  display: flex;
  align-items: flex-start;
  width: 300px;
  height: 220px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f;
  padding: 1rem;
  background-color: #ffffff;
  border-color: #FAFAFA;
  box-sizing: border-box;
}

.button-section{
  margin-top: 2rem;
}

mat-card-title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
