<div class="dashboard">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Data 1</mat-card-title>
      <mat-card-subtitle>Some important data</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Data 2</mat-card-title>
      <mat-card-subtitle>Some important data</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
