.admin-card{
  margin-left: 2rem;
  color: #9E9E9E;
}

.container{
  display: flex;
  margin-left: 1rem;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-card {
  width: 300px;
  margin: 15px;
}

.data-card{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  height: 220px;
  margin: 1rem;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f;
  padding: 1rem;
  background-color: #ffffff;
  border-color: #FAFAFA;
  box-sizing: border-box;
}

.card-list-students{
  margin-left: 2rem;
}

.data-card-list{
  display: flex;
  flex-direction: column;
  width: 630px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f;
  padding: 1rem;
  background-color: #ffffff;
  border-color: #FAFAFA;
  box-sizing: border-box;
}

mat-card-title{
  color: #9E9E9E;
}

.student-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-icon{
  align-self: center;
}

.card-content{
  padding-bottom: 1rem;
  font-size: 1.5rem;
}


